// 09-12-2025 commenté provisoirement car  le code  doit être retouché pour qu il fonctionne avec la nouvelle structure de la base de données mais comme cette page n a pas été bien défini on ne va pas plus loin

/* .option {
  border-bottom: #248eec 2px solid;
}

.option.active {
  border-left: #248eec 2px solid;
  border-right: #248eec 2px solid;
  border-top: #248eec 2px solid;
  border-bottom: 0;
} */
